@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: Futura, 'Noto Sans JP', 'Century Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, sans-serif; 
}

.for-pc {
  display: block;
}

.for-sp {
  display: none;
}

@media only screen and (max-width : 837px) {
  .for-pc {
    display: none;
  }

  .for-sp {
    display: block;
  }
}

.inner {

  margin: 0 auto;
  padding: 0 25px;
  box-sizing: content-box;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.80);
  z-index: 100;               /* 重なり順指定 */
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-title a {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.header-nav {
  margin-left: auto;
}

.for-pc ul {
  list-style: none;
  white-space: nowrap;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:first-child) {
  margin-left: 30px;
}

.header-nav-item-link {
  display: block;
  color: #333;
  height: 80px;
  line-height: 80px;

}

main {
  margin-top: 111px;
  /* ヘッダーの幅は111px */
  text-align: center;
}

.IE_logo2 {
  margin-top: 80px;
}

.IE_des {
  margin-top: 80px;
  color: #000;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 250%;
  /* 40px */
  letter-spacing: 1.6px;
}

.more {
  margin-top: 80px;
}

.Products {
  margin-top: 240px;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  /* 120px */
  letter-spacing: 4.8px;
}

.for-pc ul {
  display: flex;
  justify-content: center;
}



.prod_title {
  display: flex;
  justify-content: space-around;
}

.prod_image {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.prod_logo {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.prod_logo {
  width: 260px;
  height: 130px;
}

.product{
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.A h2{
  margin-bottom: 80px;
  color: #000;
  font-size: 29.838px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.B h2{
  margin-bottom: 80px;
  color: #000;
  font-size: 29.838px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.C h2{
  margin-bottom: 80px;
  color: #000;
  font-size: 29.838px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.prod-more{
  margin-top: 110px;
}

.prod_more {
  margin-top: 116px;
  display: flex;
  justify-content: center;
}

.Activity {
  margin-top: 240px;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%;
  /* 120px */
  letter-spacing: 4.8px;
}

.act_days {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.act_mid {
  display: flex;
  justify-content: center;
}

.act_mid p:first-child {
  margin-right: 100px;
}

/* sp */
.for-sp header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: #fff;
}

.logo {
  font-size: 24px;
}

.role{
  
  color: #000;
  text-align: center;
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%; /* 60px */
}
.name{
  margin-bottom: 80px;
  margin-top: 0px;
  color: #000;
  text-align: center;
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 250%; /* 60px */
}



figure.hover-parent {
  margin:0 auto;
  width: 240px;
  height: 240px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  }

  figcaption.hover-mask {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  /* padding: 30px; */
  }
  figure.hover-parent:hover .hover-mask {
    opacity: 1;
    }

    .jc-sa {
      display: flex;
      justify-content: space-around;
    }
  
    .members{
      margin: 0 10%;
    }
    .members-title{
      margin-top: 240px;
      margin-bottom: 80px;
      color: #000;
      font-family: Futura;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 250%; /* 120px */
      letter-spacing: 4.8px;
    }

/*------------------------------

  ここから下がハンバーガーメニュー
  に関するCSS

------------------------------*/
  
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}
